In [2]:
%matplotlib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Using matplotlib backend: <object object at 0x000001F0E58FA520>

In [3]:
shootings_data = pd.read_csv('../../../../static/datasets/washingtonpost/fatal-police-shootings-data.csv', index_col=0)
shootings_data.head()

,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
id,,,,,,,,,,,,,,,,,,
3,1/2/2015,point,not,gun,Shelton,Mason,WA,47.246826,-123.121592,not_available,Tim Elliot,53.0,male,A,not_available,True,False,73
4,1/2/2015,point,not,gun,Aloha,Washington,OR,45.487421,-122.891696,not_available,Lewis Lee Lembke,47.0,male,W,not_available,False,False,70
5,1/3/2015,move,not,unarmed,Wichita,Sedgwick,KS,37.694766,-97.280554,not_available,John Paul Quintero,23.0,male,H,not_available,False,False,238
8,1/4/2015,point,not,replica,San Francisco,San Francisco,CA,37.762910,-122.422001,not_available,Matthew Hoffman,32.0,male,W,not_available,True,False,196
9,1/4/2015,point,not,other,Evans,Weld,CO,40.383937,-104.692261,not_available,Michael Rodriguez,39.0,male,H,not_available,False,False,473

In [4]:
demographic_user_info = {
    'gender': 'male',
    'age': 21.,
    'race': 'W'
}

In [5]:
len(shootings_data[shootings_data['race'] == demographic_user_info['race']]) / len(shootings_data)

0.4427026370154332

In [6]:
len(shootings_data[shootings_data['gender'] == demographic_user_info['gender']]) / len(shootings_data)

0.9513914205857333

In [7]:
shootings_data.groupby('state').mean()

,latitude,longitude,age,was_mental_illness_related,body_camera
state,,,,,
AK,62.530955,-149.462231,33.735849,0.129630,0.074074
AL,33.133226,-87.022337,40.328767,0.200000,0.129032
AR,35.115269,-92.372767,39.853211,0.147826,0.069565
AZ,33.458121,-111.831125,36.763848,0.170270,0.148649
CA,35.474680,-119.164849,35.578008,0.200170,0.188295
CO,39.515316,-105.098847,36.384030,0.120000,0.103333
CT,41.538588,-72.852246,36.869565,0.260870,0.217391
DC,38.893043,-76.992710,34.739130,0.125000,0.416667
DE,39.331462,-75.487984,33.722222,0.222222,0.166667
FL,28.290334,-81.806715,39.060041,0.256705,0.107280
GA,33.405763,-83.935938,37.749186,0.176282,0.089744
HI,20.841453,-157.003442,36.921053,0.179487,0.230769
IA,41.716561,-92.654500,34.100000,0.180000,0.240000
ID,43.864976,-114.910022,42.111111,0.134328,0.164179
IL,41.211284,-88.405663,33.409938,0.161677,0.167665
IN,40.009514,-86.119287,38.006579,0.246753,0.207792
KS,38.339726,-96.564623,36.712500,0.200000,0.125000
KY,37.710801,-85.142080,40.222222,0.102740,0.102740
LA,30.780507,-91.592033,37.577922,0.217391,0.118012
MA,42.325308,-71.303540,36.358491,0.321429,0.053571
MD,39.160364,-76.705831,36.082569,0.270270,0.279279
ME,44.686198,-69.475813,38.558824,0.147059,0.000000
MI,42.768108,-84.267593,37.175573,0.257143,0.150000
MN,45.264639,-93.489531,34.738636,0.292135,0.393258
MO,38.504547,-92.660048,35.623188,0.158140,0.032558
MS,32.349591,-89.510793,38.179775,0.149533,0.065421
MT,46.488906,-110.744083,35.780000,0.098039,0.078431
NC,35.578566,-79.860411,39.366972,0.228448,0.137931
ND,47.242936,-100.044623,33.166667,0.222222,0.111111
NE,41.226886,-97.530506,37.853659,0.219512,0.195122
NH,43.310128,-71.567080,38.826087,0.434783,0.130435
NJ,40.332811,-74.443338,38.329545,0.204301,0.107527
NM,34.486171,-106.333144,37.057325,0.160920,0.143678
NV,37.116751,-116.340645,38.410853,0.242647,0.323529
NY,41.671564,-74.802300,38.637681,0.335570,0.167785
OH,40.468213,-82.773593,36.860870,0.237288,0.173729
OK,35.589520,-96.584340,37.223301,0.197368,0.171053
OR,44.562296,-122.671905,38.453846,0.283582,0.059701
PA,40.416759,-76.964883,37.512195,0.260355,0.035503
RI,41.848780,-71.373337,44.400000,0.166667,0.166667
SC,34.103591,-81.071577,39.806202,0.198473,0.152672
SD,43.899995,-101.083604,36.500000,0.241379,0.068966
TN,35.774948,-86.014703,39.666667,0.214286,0.107143
TX,30.882871,-97.630950,35.947368,0.180851,0.138298
UT,40.467098,-111.897555,35.666667,0.237113,0.298969
VA,37.547480,-78.428426,37.916667,0.241611,0.140940
VT,44.127792,-72.902910,41.461538,0.461538,0.230769
WA,47.185199,-121.492195,36.793269,0.294643,0.111607
WI,43.808331,-88.859815,38.051282,0.246032,0.166667
WV,38.687356,-80.788590,42.602740,0.192308,0.076923
WY,42.634105,-106.095550,37.791667,0.214286,0.000000

In [8]:
pd.DataFrame([demographic_user_info])

  gender   age race
0   male  21.0    W

In [9]:
shootings_data[['age', 'race', 'gender']].dropna(axis=0)

       age race gender
id
3     53.0    A   male
4     47.0    W   male
5     23.0    H   male
8     32.0    W   male
9     39.0    H   male
...    ...  ...    ...
8919  22.0    W   male
8946  20.0    W   male
8949  46.0    W   male
8957  28.0    W   male
8955  27.0    B   male

[6963 rows x 3 columns]

In [10]:
# from sklearn.decomposition import PCA
# from sklearn.preprocessing import OrdinalEncoder

# enc = OrdinalEncoder(handle_unknown='error')
# pca_data = enc.fit_transform(shootings_data[['age', 'race', 'gender']].dropna(axis=0))

# pca = PCA(n_components=2)
# pca.fit(pca_data)

# fig = plt.figure()
# ax = fig.add_subplot(projection='3d')

# ax.scatter(pca_data[:,0], pca_data[:,1], pca_data[:,2], 'o')

# pt = enc.transform(pd.DataFrame([demographic_user_info])[['age', 'race', 'gender']])
# ax.scatter(*pt[0], c='red')

In [59]:
state_abbrev = pd.read_csv('../../../../static/datasets/state_abbrev.csv', index_col=0)
state_abbrev.loc['Alabama', 'Abbreviation']

'AL'

In [104]:
age_data = pd.read_csv('../../../../static/datasets/uscensus/age_distribution.csv', index_col=0).drop('Footnotes', axis=1)
age_ranges = ['0-18', '19-25', '26-34', '35-54', '55-64', '65+']
def age_to_range(age):
    if age == 'Unknown' or np.isnan(age) or age is None:
        return 'Unknown'
    age = int(age)
    if age < 19:
        return '0-18'
    elif age < 26:
        return '19-25'
    elif age < 35:
        return '26-34'
    elif age < 55:
        return '35-54'
    elif age < 65:
        return '55-64'
    else:
        return '65+'
        
age_data.columns = [*age_ranges, 'total']
age_data.index = state_abbrev.loc[age_data.index, 'Abbreviation'].values
age_data.head()

       0-18    19-25    26-34     35-54    55-64      65+     total
AL  1157600   426600   552500   1229000   669700   865500   4900800
AK   184200    59200    92100    180200    87200    95800    698700
AZ  1674800   625700   875200   1737900   869500  1324300   7107300
AR   722700   256500   336700    725900   382800   511700   2936400
CA  9073100  3356200  5136800  10201100  4735800  5876100  38379200

In [60]:
census_data = pd.read_csv('../../../../static/datasets/uscensus/acs2015_census_tract_data.txt', index_col=0).dropna(axis=0)
census_data['state'] = state_abbrev.loc[census_data['state'].values, 'Abbreviation'].values
census_data.head()

,state,county,totalpop,men,women,hispanic,white,black,native,asian,...,walk,othertransp,workathome,meancommute,employed,privatework,publicwork,selfemployed,familywork,unemployment
censustract,,,,,,,,,,,,,,,,,,,,,
1001020100,AL,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,0.6,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1001020200,AL,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,2.3,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
1001020300,AL,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,1.4,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
1001020400,AL,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,0.0,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
1001020500,AL,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,3.8,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [79]:
census_data['menRatio'] = census_data['men'] / census_data['totalpop']
census_data['womenRatio'] = census_data['women'] / census_data['totalpop']
df = census_data[['state', 'totalpop', 'menRatio', 'womenRatio', 'hispanic', 'white', 'black', 'native', 'asian', 'pacific']]
df = df.groupby('state').apply(lambda x: pd.DataFrame(index=[0], data=dict(zip(map(str, x.drop('totalpop', axis=1).columns.to_list()), np.average(x.drop('totalpop',axis=1), weights=x.totalpop, axis=0))))).rename(columns={'menRatio': 'male', 'womenRatio': 'female', 'hispanic': 'H', 'white': 'W', 'black': 'B', 'native': 'N', 'asian': 'A', 'pacific': 'P'}).reset_index(level=1, drop=True)
df = pd.concat([census_data[['state', 'totalpop']].groupby('state').sum(), df], axis=1)
df['male'] = df['male'] * 100
df['female'] = df['female'] * 100
df = df.drop('PR', axis=0)
df = df.sort_index()
for age_range in age_ranges:
    df[f'{age_range}_ratio'] = age_data.sort_index().loc[:, age_range].values / age_data.sort_index().loc[:, 'total'].values
df.to_csv('../../../../static/datasets/uscensus/acs2015_census_tract_data_aggregated.csv')
df

,totalpop,male,female,H,W,B,N,A,P,0-18_ratio,19-25_ratio,26-34_ratio,35-54_ratio,55-64_ratio,65+_ratio
state,,,,,,,,,,,,,,,
AK,729562,52.244360,47.755640,6.539452,62.258936,3.248988,13.463041,5.797773,1.164496,0.263632,0.084729,0.131816,0.257908,0.124803,0.137112
AL,4821879,48.466023,51.533977,4.007298,66.323372,26.322746,0.459923,1.212107,0.032726,0.236206,0.087047,0.112737,0.250775,0.136651,0.176604
AR,2956316,49.050135,50.949865,6.870419,73.615551,15.422332,0.556165,1.353299,0.227511,0.246118,0.087352,0.114664,0.247207,0.130364,0.174261
AZ,6531748,49.674666,50.325334,30.699253,56.010191,3.991911,4.041239,2.965725,0.172324,0.235645,0.088036,0.123141,0.244523,0.122339,0.186330
CA,38221472,49.537598,50.462402,38.439939,38.717961,5.565443,0.367276,13.542286,0.361860,0.236407,0.087448,0.133843,0.265798,0.123395,0.153106
CO,5244194,50.040235,49.959765,21.112395,69.095682,3.796786,0.528765,2.846819,0.128318,0.227022,0.085555,0.141061,0.270135,0.123124,0.153084
CT,3555917,48.658729,51.341271,14.741667,69.072175,9.680637,0.135028,4.171287,0.020862,0.216422,0.083193,0.114294,0.258689,0.146994,0.180408
DC,634444,47.188562,52.811438,10.226117,35.290477,48.388117,0.196326,3.490234,0.034808,0.198295,0.079255,0.210294,0.277708,0.102621,0.131986
DE,924235,48.385638,51.614362,8.721467,63.835626,21.101143,0.275076,3.600588,0.016040,0.217842,0.077918,0.113027,0.243404,0.147007,0.200801
FL,19509409,48.861931,51.138069,23.801417,55.924215,15.500717,0.205695,2.553084,0.048944,0.207949,0.077138,0.112036,0.251334,0.138584,0.212958
GA,9988480,48.772436,51.227564,9.150626,54.591240,30.497694,0.182248,3.579351,0.040609,0.250355,0.086436,0.121976,0.266217,0.126251,0.148755
HI,1404139,50.447855,49.552145,9.899431,22.860996,1.891062,0.150941,36.806881,9.067541,0.225551,0.070691,0.115376,0.251850,0.132371,0.204161
IA,3087394,49.594836,50.405164,5.436298,87.391179,3.093490,0.267262,2.020554,0.058099,0.244051,0.088743,0.111600,0.244472,0.133874,0.177260
ID,1616524,50.135538,49.864462,11.832725,83.057471,0.577469,1.066640,1.274457,0.107715,0.261233,0.085576,0.116944,0.248365,0.121233,0.166702
IL,12850493,49.047846,50.952154,16.504635,62.492757,14.114928,0.110482,4.954647,0.020077,0.234914,0.084770,0.121451,0.261521,0.131807,0.165546
IN,6547728,49.214094,50.785906,6.417310,80.546974,9.048960,0.179654,1.806529,0.027136,0.246133,0.088967,0.118946,0.251117,0.130565,0.164271
KS,2892983,49.770704,50.229296,11.174035,77.043226,5.669696,0.698951,2.596578,0.056323,0.254405,0.091098,0.113433,0.245401,0.129647,0.166016
KY,4386973,49.170647,50.829353,3.252586,85.590988,7.769153,0.165787,1.248143,0.046050,0.237407,0.086703,0.116046,0.251678,0.136388,0.171825
LA,4623227,48.875299,51.124701,4.716279,59.497542,31.856859,0.527468,1.669919,0.037830,0.248270,0.088880,0.116647,0.248650,0.130106,0.167470
MA,6680803,48.449969,51.550031,10.564069,74.312473,6.474600,0.118500,5.927616,0.018953,0.209516,0.081983,0.130129,0.261191,0.141679,0.175516
MD,5890432,48.287868,51.712132,9.027104,53.048046,28.975941,0.194777,6.014104,0.040099,0.234192,0.078153,0.119758,0.265416,0.138499,0.163999
ME,1329100,48.911369,51.088631,1.463881,93.880735,1.087094,0.566850,1.086498,0.012309,0.190291,0.067769,0.113247,0.252674,0.158351,0.217593
MI,9855909,49.031906,50.968094,4.713969,75.998335,13.738972,0.474103,2.672401,0.018169,0.225538,0.088236,0.118373,0.244935,0.141153,0.181776
MN,5415423,49.664320,50.335680,4.999473,81.720330,5.410367,0.950955,4.419456,0.030428,0.240873,0.081950,0.118977,0.256647,0.133749,0.167804
MO,6041445,49.036183,50.963817,3.854893,80.226229,11.438126,0.370714,1.742560,0.096511,0.238564,0.083324,0.117511,0.248351,0.136484,0.175766
MS,2983152,48.550929,51.449071,2.896317,57.402093,37.210120,0.398613,0.963790,0.012611,0.251666,0.089735,0.106504,0.251596,0.129938,0.170526
MT,1014088,50.250570,49.749430,3.309046,86.985717,0.447427,6.252680,0.680048,0.080107,0.222202,0.088843,0.114826,0.237661,0.138015,0.198454
NC,9825251,48.645159,51.354841,8.825153,64.249389,21.178186,1.099246,2.451449,0.052615,0.233849,0.083218,0.116866,0.260652,0.132515,0.172900
ND,721640,50.989829,49.010171,2.851100,87.046423,1.602427,5.199822,1.224363,0.038422,0.253371,0.098301,0.126483,0.238538,0.123652,0.159655
NE,1861738,49.706672,50.293328,9.976660,80.783548,4.571112,0.703430,1.995732,0.060449,0.259780,0.087520,0.117672,0.245254,0.125380,0.164447
NH,1324201,49.349306,50.650694,3.182558,91.402290,1.168061,0.144563,2.349110,0.017477,0.197668,0.076186,0.119329,0.253806,0.159947,0.193139
NJ,8857622,48.714576,51.285424,19.016037,57.147592,12.687824,0.108358,9.000417,0.023486,0.229948,0.078997,0.117104,0.265501,0.140263,0.168187
NM,2084117,49.537238,50.462762,47.358267,39.205411,1.828200,8.504138,1.306333,0.042967,0.240560,0.083661,0.115990,0.241821,0.130919,0.187097
NV,2778084,50.336671,49.663329,27.712444,51.766920,8.097890,0.883089,7.544758,0.612842,0.232890,0.080736,0.128822,0.265314,0.125748,0.166521
NY,19562033,48.422436,51.577564,18.421434,56.794190,14.356879,0.234819,7.926816,0.023969,0.218651,0.080902,0.129111,0.257548,0.138453,0.175331
OH,11532805,48.862415,51.137585,3.374884,80.310798,12.002469,0.146150,1.842672,0.022738,0.233622,0.084194,0.119015,0.247676,0.137242,0.178261
OK,3840607,49.517042,50.482958,9.650196,67.318328,7.116273,6.952318,1.899270,0.116473,0.256388,0.089618,0.117374,0.248899,0.124242,0.163479
OR,3939233,49.462751,50.537249,12.328261,77.246773,1.754068,0.922180,3.919938,0.363406,0.211313,0.082070,0.126985,0.266434,0.125808,0.187390
PA,12731388,48.798206,51.201794,6.368468,78.179680,10.470351,0.112007,3.048590,0.017072,0.219261,0.077428,0.119954,0.250382,0.142662,0.190314
RI,1053661,48.439489,51.560511,13.646044,74.525307,5.338835,0.370818,3.193050,0.032899,0.205084,0.084928,0.124536,0.255356,0.146720,0.183376
SC,4746374,48.487414,51.512586,5.291344,63.970111,27.247260,0.290615,1.385361,0.050816,0.229536,0.081855,0.113915,0.248859,0.136968,0.188847
SD,843190,50.223200,49.776800,3.309485,83.222262,1.516474,8.295340,1.202477,0.038209,0.259898,0.090067,0.109748,0.230725,0.134753,0.174809
TN,6482982,48.694814,51.305186,4.925907,74.775618,16.624903,0.219938,1.555490,0.045660,0.232133,0.084607,0.122026,0.256382,0.133562,0.171304
TX,26456798,49.583597,50.416403,38.476223,43.823170,11.541716,0.246375,4.183893,0.070802,0.268463,0.091249,0.129550,0.264133,0.113776,0.132829
UT,2900198,50.221468,49.778532,13.420191,79.506643,1.014986,0.943964,2.174142,0.878966,0.300171,0.107776,0.131574,0.249741,0.093851,0.116978
VA,8202003,49.134973,50.865027,8.611257,63.436041,18.890534,0.205603,5.918531,0.060700,0.234461,0.082517,0.118964,0.263600,0.133967,0.166538
VT,626604,49.245297,50.754703,1.706722,93.606562,1.074478,0.296583,1.384388,0.029426,0.192674,0.082298,0.110053,0.249637,0.155882,0.209295
WA,6977372,49.910697,50.089303,11.960442,70.794978,3.485434,1.156630,7.582584,0.608417,0.227761,0.082440,0.135868,0.264704,0.125897,0.163317
WI,5726162,49.646290,50.353710,6.352515,82.405286,6.163827,0.803187,2.460782,0.018868,0.227617,0.085361,0.114121,0.249444,0.144098,0.179358
WV,1851420,49.347582,50.652418,1.373322,92.548270,3.260161,0.146426,0.718058,0.025296,0.212002,0.082689,0.101269,0.251702,0.143047,0.209290
WY,579679,50.987012,49.012988,9.605167,84.467977,1.028659,1.898534,0.890723,0.066317,0.240106,0.085004,0.103815,0.257675,0.132032,0.181366

In [100]:
homicide_data = pd.read_csv('../../../../static/datasets/washingtonpost/homicide-data.csv', index_col=0)
homicide_data = homicide_data.drop(['victim_last', 'victim_first', 'lat', 'lon'], axis=1)
homicide_data['victim_race'] = homicide_data['victim_race'].apply(lambda x: x[0])
homicide_data['victim_age_range'] = homicide_data['victim_age'].apply(age_to_range)
homicide_data['reported_date'] = homicide_data['reported_date'].apply(lambda x: int(str(x)[:4]))
homicide_data['victim_sex'] = homicide_data['victim_sex'].apply(lambda x: x.lower())
homicide_data.columns = ['year', 'race', 'age', 'gender', 'city', 'state', 'outcome', 'age_range']
homicide_data = homicide_data.reset_index(drop=True)
homicide_data.to_csv('../../../../static/datasets/washingtonpost/homicide-data-augmented.csv')
homicide_data

,year,race,age,gender,city,state,outcome,age_range
0,2010,H,78,male,Albuquerque,NM,Closed without arrest,65+
1,2010,H,17,male,Albuquerque,NM,Closed by arrest,0-18
2,2010,W,15,female,Albuquerque,NM,Closed without arrest,0-18
3,2010,H,32,male,Albuquerque,NM,Closed by arrest,26-34
4,2010,W,72,female,Albuquerque,NM,Closed without arrest,65+
...,...,...,...,...,...,...,...,...
52174,2016,B,29,male,Washington,DC,Closed by arrest,26-34
52175,2016,B,19,male,Washington,DC,Open/No arrest,19-25
52176,2016,B,23,male,Washington,DC,Open/No arrest,19-25
52177,2016,B,24,male,Washington,DC,Open/No arrest,19-25
52178,2016,B,17,male,Washington,DC,Closed by arrest,0-18

In [108]:
shootings_data = pd.read_csv('../../../../static/datasets/washingtonpost/fatal-police-shootings-data.csv', index_col=0)
# shootings_data = shootings_data.drop(['victim_last', 'victim_first', 'lat', 'lon'], axis=1)
# shootings_data['victim_race'] = shootings_data['victim_race'].apply(lambda x: x[0])
shootings_data['age_range'] = shootings_data['age'].apply(age_to_range)
shootings_data['year'] = shootings_data['date'].apply(lambda x: int(str(x)[-4:]))
shootings_data = shootings_data.drop(['date', 'threat_type', 'flee_status', 'latitude', 'longitude', 'location_precision', 'name', 'race_source', 'was_mental_illness_related', 'agency_ids'], axis=1)
# shootings_data['victim_sex'] = shootings_data['victim_sex'].apply(lambda x: x.lower())
# shootings_data.columns = ['year', 'race', 'age', 'gender', 'city', 'state', 'outcome', 'age_range']
# shootings_data = shootings_data.reset_index(drop=True)
shootings_data.to_csv('../../../../static/datasets/washingtonpost/shootings-data-augmented.csv')
shootings_data

,armed_with,city,county,state,age,gender,race,body_camera,age_range,year
id,,,,,,,,,,
3,gun,Shelton,Mason,WA,53.0,male,A,False,35-54,2015
4,gun,Aloha,Washington,OR,47.0,male,W,False,35-54,2015
5,unarmed,Wichita,Sedgwick,KS,23.0,male,H,False,19-25,2015
8,replica,San Francisco,San Francisco,CA,32.0,male,W,False,26-34,2015
9,other,Evans,Weld,CO,39.0,male,H,False,35-54,2015
...,...,...,...,...,...,...,...,...,...,...
8949,gun,Grove City,Franklin,OH,46.0,male,W,True,35-54,2023
8948,gun,Avondale,Maricopa,AZ,NaN,male,NaN,False,Unknown,2023
8956,undetermined,Dunnigan,Yolo,CA,63.0,male,NaN,False,55-64,2023
8957,undetermined,Salisbury,Rowan,NC,28.0,male,W,False,26-34,2023
8955,gun,Sugar Land,Fort Bend,TX,27.0,male,B,False,26-34,2023